.centerLink {
  display: none;
}

.othersLinks {
  flex-direction: column;
}

.fullPage {
  display: none;
}

.queryPage {
  display: inherit;
}

.leftLink,
.rightLink {
  justify-content: center;
}

.rightLink {
  margin-top: 12px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.queryFont {
  font-weight: bold;
  font-size: 12px;
  color: #70757a;
}

.fa-bars {
  color: #70757a;
}

#googleImage {
  width: 190px;
  margin-top: 50px;
}
