/* HEADER */
.headerLeft > a,
.headerRight > a {
  text-decoration: none;
  font: 14px arial, sans-serif;
  color: #222;
  margin: 0px 5px;
  padding: 5px;
}

.headerLeft > a:hover,
.headerRight > a:hover {
  text-decoration: underline;
}

.headerRight {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 3px;
}

#signIn {
  font: 14px arial, Helvetica, sans-serif;
  background-color: #1a73e8;
  margin: 0px 8px;
  padding: 9px 23px;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

#grid {
  width: 18px;
  height: 18px;
  padding: 8px;
  cursor: pointer;
}

.gridBg {
  display: flex;
}

.gridBg:hover {
  background-color: #f5f5f5;
  border-radius: 50%;
}

/* MAIN */
#googleImage {
  width: 272px;
}

#microGo {
  width: 24px;
  height: 24px;
  margin-left: -40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.inputBar {
  max-width: 520px;
  width: 80vw;
  height: 38px;
  margin: 30px 0;
  border-radius: 50px;
  border: 1px solid lightgray;
  padding-left: 50px;
  font: 16px arial, Helvetica, sans-serif;
}

.inputBar:focus {
  outline: none;
}

.inputBar:hover {
  box-shadow: rgba(60, 64, 67, 0.171) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.searchBar {
  display: flex;
  align-items: center;
}

.fa-search {
  color: rgba(155, 144, 144, 0.747);
  margin-right: -34px;
  z-index: 1;
}

.buttons > button {
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.buttons > button:hover {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 0px 2px;
}

.langOffer {
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #222;
}

#linkLang {
  color: #1a0dab;
  text-decoration: none;
}

#linkLang:hover {
  text-decoration: underline;
}

/* FOTTER */
footer {
  width: 100vw;
  background-color: #f5f5f5;
  color: #222;
  position: absolute;
  bottom: 0;
  left: 0;
}

.country,
.othersLinks {
  padding: 15px 30px;
}

.country {
  border-bottom: 1px solid #dadce0;
}

.othersLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font: 14px arial, sans-serif;
}

.text {
  margin: 0;
  text-decoration: none;
  color: #70757a;
  padding: 0 15px;
}

.leafCarb {
  width: 12px;
}

#countryUk {
  font: 15px arial, sans-serif;
  font-size: 15px;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
}

.leftLink > a:first-child {
  padding-left: 0;
}

.othersLinks > div {
  width: 33vw;
}

.rightLink {
  display: flex;
  justify-content: flex-end;
}

.centerLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLink {
  display: flex;
  justify-content: flex-start;
}

.rightLink > a:hover,
.centerLink > a:hover,
.leftLink > a:hover {
  text-decoration: underline;
}

/* query options */
.queryPage {
  display: none;
}
